@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    width: 1380px;
    margin: 0 auto;
}

.header {
    margin-top: 10px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        height: 100%;
    }

    .search {
        display: flex;
        align-items: center;

        .katalog {
            display: flex;
            align-items: center;
            margin-right: 10px;

            img {
                width: 154px;
                height: 49px;
            }
        }

        .searchbar {
            position: relative;

            input {
                height: 49px;
                width: 483px;
                border-radius: 5px;
                position: relative;
                outline: none;
                padding-left: 4%;
            }

            label {
                font-size: 10px;
                position: absolute;
                display: flex;
                align-items: center;
                font-weight: 400;
                left: 10%;
                top: 50%;
                transform: translate(-50%, -50%);

                img {
                    width: 12px;
                    margin-right: 3px;
                }
            }
        }
    }

    .header_list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .burger_menu {
            left: 100%;
            transition-duration: 1s;
            background: #999;
            overflow: hidden;

            li {

                height: 50px;
                width: 100vw;
                display: none !important;

                &:hover {
                    background: #fff;
                    color: #000;
                }
            }

            .contact {
                display: none !important;
            }
        }

        li {
            cursor: pointer;
            margin: 0 10px;

            &:hover {
                color: #FC42FF;
            }

            &:last-child:hover {
                color: #000;
            }

            input {
                &:checked~label .fa-bars {
                    display: none;
                }

                &:checked~label .fa-x {
                    display: block;
                }

            }
        }

        img {
            height: 35px;
        }
    }
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    ul {
        display: flex;
        font-size: 18px;
        font-weight: 500;

        li {
            cursor: pointer;
            margin-right: 40px;

            &:hover {
                color: #FC42FF;
            }
        }
    }

    .contact {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 600;

        span {
            margin: 0 15px 0 5px;
        }

        img {
            width: 30px;
            margin-right: 15px;
            cursor: pointer;
        }

        .time {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 15px;

            span {
                margin: 0;
                font-weight: 500;
            }

            p {
                font-weight: 700;
            }
        }
    }
}

#first {
    margin: 25px 0;

    h2 {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 20px;
    }

    .link {
        display: flex;
        align-items: center;
        font-weight: 600;

        span {
            margin: 0 7px;
        }

        p:hover {
            cursor: pointer;
            color: #666;
        }
    }

    .boxes {
        display: flex;
        flex-wrap: wrap;

        img {
            width: 100%;
        }

        .box {
            cursor: pointer;
            padding: 0 15px;
            border-radius: 5px;
            height: 400px;
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 18px;
        }
    }
}

#second {
    margin: 25px 0;

    h2 {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 20px;
    }

    .info {
        display: flex;

        .contact {
            p {
                font-weight: 600;
                font-size: 70px;
                margin: 40px 0;
            }

            .set {
                display: flex;

                .links {
                    cursor: pointer;
                    font-weight: 600;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 15px;
                    margin-right: 25px;

                    img {
                        margin-bottom: 5px;
                        width: 50px;
                    }
                }
            }
        }

        .adres {
            margin-left: 150px;

            h3 {
                font-weight: 600;
                font-size: 40px;
                margin: 30px 0;
            }

            .time {
                display: flex;
                flex-direction: column;
                justify-content: center;

                span {
                    margin: 0;
                    font-weight: 500;
                    font-size: 18px;
                }

                p {
                    font-weight: 700;
                    font-size: 24px;
                }
            }
        }
    }
}


.d-none,
.fa-bars {
    display: none;
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
    .container {
        width: 1140px !important;
        margin: 0 auto;
    }

    .header {
        height: 35px !important;
        margin-top: 30px;

        .search {
            height: 30px !important;
        }

        .katalog {
            img {
                width: 100px !important;
                height: 35px !important;
            }
        }

        input {
            height: 35px !important;
            width: 275px !important;
        }

        label {
            left: 15% !important;
        }

        ul {
            font-size: 14px;

            img {
                width: 30px;
            }
        }
    }

    .header_nav {
        ul {
            font-size: 12px !important;
        }

        .contact {
            font-size: 13px;

            img {
                width: 25px;
            }
        }
    }

    #first {
        h2 {
            font-size: 35px;
        }

        .link {
            font-size: 12px;
        }
    }

    #second {
        h2 {
            font-size: 35px;
        }

        .contact {
            p {
                font-size: 45px !important;
            }

            img {
                width: 30px !important;
            }

            span {
                font-size: 13px !important;
            }
        }

        .adres {
            h3 {
                font-size: 33px !important;
                font-weight: 600 !important;
                margin: 25px 0 !important;
            }

            .time {
                span {
                    font-size: 15px !important;
                }

                p {
                    font-size: 20px !important;
                    font-weight: 600 !important;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
    .container {
        width: 756px;
    }

    .header {

        .logo {
            img {
                height: 29px;
            }
        }

        height: 23px !important;
        margin-top: 30px;

        .katalog {
            img {
                width: 75px !important;
                height: 23px !important;
            }
        }

        input {
            height: 23px !important;
            width: 200px !important;
        }

        label {
            left: 16% !important;
        }


        ul {
            li {
                display: none;

                &:last-child {
                    display: block;
                }
            }

            .burger_menu {
                transition: 1s !important;

            }

            input {
                &:checked~.burger_menu {
                    overflow: hidden;
                    left: 0;
                    position: fixed;
                    width: 100%;
                    height: 93%;
                    bottom: 0;
                    background: #333;
                    z-index: 3;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    li {
                        display: flex !important;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        margin: 30px 0;
                        text-align: center;
                    }

                    .contact {
                        margin-bottom: 50px;
                        width: 100vw;
                        color: #fff;
                        display: flex !important;
                        justify-content: space-evenly;
                        align-items: center;
                        i{
                            font-size: 20px;
                        }
                        .div {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                }
            }

            img {
                width: 25px;
            }
        }
    }

    .header_nav {
        display: none;
    }

    
    #first {
        h2 {
            margin-top: 45px;
            font-size: 30px;
        }

        .link {
            font-size: 10px;
        }
        .boxes {
            justify-content: center;
        }
        .box {
            height: 300px !important;
            width: 33% !important;
        }
    }

    
    #second {
        h2 {
            font-size: 30px;
        }

        .contact {
            p {
                font-size: 38px !important;
            }

            img {
                width: 25px !important;
            }

            span {
                font-size: 11px !important;
            }
        }

        .adres {
            h3 {
                font-size: 30px !important;
                font-weight: 600 !important;
                margin: 20px 0 30px !important;
            }

            .time {
                span {
                    font-size: 15px !important;
                }

                p {
                    font-size: 20px !important;
                    font-weight: 600 !important;
                }
            }
        }
    }

    .fa-bars {
        display: block;
    }
}

@media screen and (max-width: 800px) and (min-width: 400px) {
    .container {
        width: 97%;
    }

    .header {

        .logo {
            img {
                height: 29px;
            }
        }

        height: 23px !important;
        margin-top: 30px;

        .katalog {
            img {
                width: 75px !important;
                height: 23px !important;
            }
        }

        input {
            height: 23px !important;
            width: 200px !important;
        }

        label {
            left: 16% !important;
        }


        ul {
            li {
                display: none;

                &:last-child {
                    display: block;
                }
            }

            .burger_menu {
                transition: 1s !important;

            }

            input {
                &:checked~.burger_menu {
                    overflow: hidden;
                    left: 0;
                    position: fixed;
                    width: 100%;
                    height: 93%;
                    bottom: 0;
                    background: #333;
                    z-index: 3;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    li {
                        display: flex !important;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        margin: 30px 0;
                        text-align: center;
                    }

                    .contact {
                        margin-bottom: 50px;
                        width: 100vw;
                        color: #fff;
                        display: flex !important;
                        justify-content: space-evenly;
                        align-items: center;
                        i{
                            font-size: 20px;
                        }
                        .div {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                }
            }

            img {
                width: 25px;
            }
        }
    }

    .header_nav {
        display: none;
    }

    #first {
        h2 {
            margin-top: 45px;
            font-size: 30px;
        }

        .link {
            font-size: 10px;
        }
        .boxes {
            justify-content: center !important;
        }
        .box {
            height: auto !important;
            width: 50% !important;
            margin: 50px 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    #second {
        h2 {
            font-size: 30px;
        }

        .info {
            display: flex;
            flex-direction: column;
        }

        .contact {
            p {
                font-size: 28px !important;
                font-weight: 800;
            }

            img {
                width: 25px !important;
            }

            span {
                font-size: 11px !important;
            }
        }

        .adres {
            margin-left: 0 !important;
            margin-top: 50px;
            h3 {
                font-size: 28px !important;
                font-weight: 600 !important;
                margin: 20px 0 30px !important;
            }

            .time {
                span {
                    font-size: 15px !important;
                }

                p {
                    font-size: 20px !important;
                    font-weight: 600 !important;
                }
            }
        }
    }

    .fa-bars {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .container {
        width: 97%;
    }

    .header {

        .logo {
            img {
                height: 29px;
            }
        }

        height: 23px !important;
        margin-top: 30px;

        .katalog {
            img {
                width: 75px !important;
                height: 23px !important;
            }
        }

        input {
            height: 23px !important;
            width: 200px !important;
        }

        label {
            left: 16% !important;
        }


        ul {
            li {
                display: none;

                &:last-child {
                    display: block;
                }
            }

            .burger_menu {
                transition: 1s !important;

            }

            input {
                &:checked~.burger_menu {
                    overflow: hidden;
                    left: 0;
                    position: fixed;
                    width: 100%;
                    height: 93%;
                    bottom: 0;
                    background: #333;
                    z-index: 3;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    li {
                        display: flex !important;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        margin: 30px 0;
                        text-align: center;
                    }

                    .contact {
                        margin-bottom: 50px;
                        width: 100vw;
                        color: #fff;
                        display: flex !important;
                        justify-content: space-evenly;
                        align-items: center;
                        i{
                            font-size: 20px;
                        }
                        .div {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                }
            }

            img {
                width: 25px;
            }
        }
    }

    .header_nav {
        display: none;
    }

    #first {
        h2 {
            margin-top: 45px;
            font-size: 30px;
        }

        .link {
            font-size: 10px;
        }
        .boxes {
            justify-content: center !important;
        }
        .box {
            height: auto !important;
            width: 100% !important;
            margin: 50px 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    #second {
        .info {
            display: flex;
            flex-direction: column;
        }
        h2 {
            font-size: 30px;
        }

        .contact {
            p {
                font-size: 28px !important;
                font-weight: 800;
            }

            img {
                width: 25px !important;
            }

            span {
                font-size: 11px !important;
            }
        }

        .adres {
            margin-top: 40px;
            margin-left: 0 !important;
            h3 {
                font-size: 28px !important;
                font-weight: 600 !important;
                margin: 20px 0 30px !important;
            }

            .time {
                span {
                    font-size: 15px !important;
                }

                p {
                    font-size: 20px !important;
                    font-weight: 600 !important;
                }
            }
        }
    }

    .fa-bars {
        display: block;
    }
}